%section#articles
  - for article in articles[0..3]
    %article
      %h1
        %a{:href => "#{article.path}"}= article.title
      %time= article.date
      %section.content
        = article.summary
        %a{:href => "#{article.path}"} 
          %strong read more &raquo;
  
  %aside#archives
    %h1 Sitemap
    = archives
